* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
}

a {
  text-decoration: none;
}

body {
  background-image: image-url('dice-2788986_1920.jpg');
  background-color: black;            /* 背景色 */
  background-size: cover;               /* 全画面 */
  background-attachment: fixed;         /* 固定 */
  background-position: center center;   /* 縦横中央 */
  min-height: 100vh;
}

.login-button{
  width: 72px;
  height: 40px;
  display: flex;
  &_chalacter{
    font-size: 16px;
    color: #38aef0;
    padding: 0 20px;
    margin: 28px 40px 32px 0;
    border: thin solid;
    border-color: #38aef0;
    line-height: 40px;
  }
}

.new-user-button{
  width: 72px;
  height: 40px;
  display: flex;
  &_chalacter{
    font-size: 16px;
    color: #38aef0;
    padding: 0 20px;
    margin: 28px 40px 32px 0;
    border: thin solid;
    border-color: #38aef0;
    line-height: 40px;
  }  
}